/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar Styles */
body {
    font-family: Arial, sans-serif;
    transition: background-color 1.5s, color 1.5s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1px;
    border-bottom: 2px solid #464646; /* Add bottom border */
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar .nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-right: 150px;
}

.navbar .nav-links a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.4s ease;
}

.navbar .nav-links a:hover {
    background-color: #ddd;
    color: black;
    z-index: 2;
    transform: scale(1.1)
    
}

/* Dropdown Styles */
.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    background-color: #333;
    color: white;
    font-size: 17px;
    border: none;
    outline: none;
    padding: 14px 20px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
    transform: scale(1.1)
}

.dropdown-content {
    position: absolute;
    top: 100%;
    right: 5;
    background: #212121;
    min-width: 160px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s;
    pointer-events: none;
    border-radius: 0.5rem;
    z-index: 3;
  }

  .dropdown:hover .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .dropdown-content a {
    color: #374151;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;  /* Use flexbox for better alignment */
    align-items: left;  /* Vertically align text and icon */
    justify-content: flex-start;  /* Align items to the left */
  }
  .dropdown-content a .material-symbols-outlined {
    margin-right: 8px;  /* Space between the icon and the text */
    font-size: 24px;  /* Adjust the icon size */
}

.material-symbols-outlined {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Animation class for the icon */
.icon-animation {
    transform: scale(1.2);
    opacity: 0.7;
}

  .dropdown-content a:hover {
    background: #f3f4f6;
  }

  /* Dark Mode Styles & Footer */
    footer {
        background-color: #fff; /* Default background color for light mode */
        color: #333;             /* Default text color for light mode */
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px 0;
        transition: background-color 1.5s, color 1.5s; /* Added transition */
    }

    body.dark-mode {
        background-color: #333;
        color: #fff;
    }

    body.dark-mode footer {
        background-color: #333;
        color: white;
    }
    a.dark-mode {
        color: #fff;
    }
    .toggle-btn {
        cursor: pointer;
    }

/* Contact Form Styles */
.upload-container {
    padding: 30px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 2px 4px 6px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 650px;
    text-align: right;
}

.upload-container button {
    padding: 10px 10px;
    background-color: #1b56a8;
    font-size: medium;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.upload-container button:hover {
    background-color: #0c284e;
    transition: all 0.4s ease;
}

.upload-container input[type="text"] {
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #212121;
    padding: 1px;           /* Increase padding for a larger input field */
    font-size: 14px;         /* Increase font size for larger text */
    height: 40px;            /* Increase height for a taller input field */
    width: 100%;             /* Make the input field take up the full width of the container */
    transition: background-color 1.5s, color 1.5s; /* Added transition */
}

.dark-mode .upload-container input[type="text"] {
    color: #ffffff;
}

/* Font Styles  */
h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: left;
}

/* Uploading */
#mediaInput {
    display: none;
}

#fileNameDisplay {
    margin-bottom: 10px;
    padding-top: 5px;
    font-size: 14px;
    color: #212121;
    transition: background-color 1.5s, color 1.5s; /* Added transition */

}
.dark-mode #fileNameDisplay {
    color: #ffffff;
}
.file-upload-label {
    display: inline-block;
    padding: 10px 10px;
    color: white;
    cursor: pointer;
}
.file-upload-label:hover {
    background-color: #bdbdbd;
    border-radius: 5px;
    opacity: 1;
    transition: all 0.4s ease;
}
.dark-mode .file-upload-label:hover {
    background-color: #ffffff3a;
    opacity: 0.8;
}

.file-upload-label .material-symbols-outlined {
    color: #212121; /* Change this color as needed */
}
.dark-mode .file-upload-label .material-symbols-outlined {
    color: #ffffff; /* Change this color as needed */
}

/* Story Text */
#storyTitle::placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  /* Facebook's font */
    font-size: 14px;   /* Facebook's standard placeholder text size */
    color: #a8a8a8;    /* Light gray color for placeholder */
    font-weight: 400;  /* Normal font weight */
    letter-spacing: 0.5px;  /* Slight letter spacing for better readability */
}

#storyTitle {
    padding: 10px;  /* Adds space inside the text field */
    font-size: 16px; /* Makes the text more readable */
    line-height: 1.5;  /* Adjusts line spacing */
    width: 100%;  /* Ensures input takes up the full width of its container */
    border: 1px solid #d1d1d1;  /* Light border for input field */
    border-radius: 5px;  /* Rounded corners */
    background-color: transparent;
}

/* For Stories */

.stories-container {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: flex-start; /* Ensure the items start from the left */
    overflow-x: auto;
    padding: auto;
    box-shadow: 2px 4px 6px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    overflow-y: hidden;
    scroll-snap-type: x mandatory; /* Ensure snapping starts from the left */
    border-radius: 10px;
    position: relative;
    overflow: hidden; /* Hide the horizontal scroll */
}

.stories-container .previous-btn,
.stories-container .next-btn {
    width: 30px;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    background: #444;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: block;
    z-index: 5; /* Ensure it stays above other content */

}

.stories-container .previous-btn{
    left: 8px;
}

.stories-container .next-btn{
    right: 8px;
}

.stories-container .add-story {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #212121;
    border-radius: 60%;
    width: 35px;
    height: 30px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.5s, color 0.5s; /* Added transition */
}
.dark-mode .stories-container .add-story {
    color: white;
}

.stories-container .add-story:hover {
    background-color: darkblue;
    color: white;
    opacity: 50%;
}

.stories-container .story {
    width: 135px;
    height: 213px; /* 9:16 aspect ratio */
    margin-right: 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    scroll-snap-align: start; /* Ensure snapping starts from the left side of each item */
    flex-shrink: 0; /* Prevent items from shrinking */
    overflow: hidden;
}

.stories-container .story img, .story video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}

.stories-container .stories {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.stories-container .content {
    display: flex;
    gap: 10px;
    overflow-x: scroll; /* Allows scrolling */
    scroll-snap-type: x mandatory;
}

.stories-container .content::-webkit-scrollbar {
    display: none;
} 

.stories-container .author{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 16px;
    font-size: 15px;
    font-family: "roboto", sans-serif;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(transparent, #222 130%);
}


/* Story Viewer */
.story-viewer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.story-viewer.active {
    display: flex;
}

.story-viewer-title {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.story-viewer-content {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-viewer img, .story-viewer video {
    width: 56.25%; /* 9:16 ratio */
    height: 100%;
    object-fit: contain;
}
/* Close Button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(110, 110, 110, 0);
    color: white;
    border: none;
    width: 35px; /* Set width */
    height: 35px; /* Set height */
    border-radius: 50%; /* Makes it circular */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; /* Adjust icon size */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: rgba(59, 59, 59, 0.568);
}

/* Progress Bar */
.progress-bar {
    position: absolute;
    top:1em;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #1877f2;
    width: 0%;
    transition: width linear;
}
.stories-container {
    max-width: 650px;
    margin: 24px auto;
    position: relative;
    overflow: hidden; /* Hide horizontal scroll */
}

.stories-container .story {
    height: 180px;
    width: 120px;
    flex-shrink: 0;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.stories-container .story img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stories-container .stories {
    display: flex;
    gap: 10px;
}

.stories-container .content {
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.stories-container .content::-webkit-scrollbar {
    display: none;
}

.stories-full-view {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    place-items: center;
}

.stories-full-view.active {
    display: grid;
}

.stories-full-view .content {
    height: 90vh;
    width: 100%;
    max-width: 700px;
    position: relative;
}

.stories-full-view .story {
    height: 100%;
    text-align: center;
}

.stories-full-view .story img {
    height: 100%;
    aspect-ratio: 9/16;
    object-fit: cover;
    border-radius: 16px;
}
/* Buttons */