/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #212121;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #212121;
    color: white;
    text-align: center;
}

header .logo h1 {
    margin: 0.4em;
}

h2 {
    color: #efefef;
}

/* Stories Container */
.stories-container {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: flex-start; /* Ensure the items start from the left */
    overflow-x: auto;
    padding: 10px;
    background-color: #2c2c2c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    overflow-y: hidden;
    scroll-snap-type: x mandatory; /* Ensure snapping starts from the left */
}

.stories-container .add-story {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    background-image: url('bg.jpg');
    background-size: cover; /* This makes the image cover the entire container */
    background-position: center; /* This centers the image within the container */
    border-radius: 60%;
    width: 35px;
    height: 30px;
    cursor: pointer;
    margin: 10px;
}

.stories-container .add-story:hover {
    background-color: darkblue;
}

.story {
    width: 120px;
    height: 213px; /* 9:16 aspect ratio */
    margin-right: 10px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start; /* Ensure snapping starts from the left side of each item */
}

.story img, .story video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Upload Container */
.upload-container {
    padding: 20px;
    margin: 20px auto;
    background-color: #646464;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    max-width: 650px;
    text-align: left;
}

.upload-container input, 
.upload-container input[type="text"] {
    display: block;
    margin-bottom: 10px;
}

.upload-container button {
    padding: 10px 20px;
    background-color: #1b56a8;
    font-size: medium;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-container button:hover {
    background-color: #0c284e;
}

/* Story Viewer */
.story-viewer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.story-viewer.active {
    display: flex;
}

.story-viewer-title {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.story-viewer-content {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-viewer img, .story-viewer video {
    width: 56.25%; /* 9:16 ratio */
    height: 100%;
    object-fit: contain;
}

/* Close Button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(110, 110, 110, 0);
    color: white;
    border: none;
    width: 35px; /* Set width */
    height: 35px; /* Set height */
    border-radius: 50%; /* Makes it circular */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; /* Adjust icon size */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: rgba(59, 59, 59, 0.568);
}

/* Progress Bar */
.progress-bar {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #1877f2;
    width: 0%;
    transition: width linear;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Navigation */
.wrapper {
    display: flex;
    align-items: center;
    padding: 4px 750px;
    position: relative;
    background: #e8e8e8;
    border-radius: 10px;
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

.wrapper input {
    height: 0;
    width: 0;
    position: absolute;
    overflow: hidden;
    display: none;
    visibility: hidden;
}

.label {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    color: #212121;
    background: transparent;
    padding: 12px 10px;
    width: 100px;
    min-width: 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.label span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.wrapper input[class*="radio-"]:checked + label {
    color: #000;
}

/* Navigation Bar */
.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: absolute;
    height: 100%;
    width: 130px;
    z-index: 0;
    transition: transform 0.5s cubic-bezier(0.33, 0.83, 0.99, 0.98);
}

.bar::before,
.bar::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background: #212121;
}

.bar::before {
    top: 0;
    border-radius: 0 0 9999px 9999px;
}

.bar::after {
    bottom: 0;
    border-radius: 9999px 9999px 0 0;
}

.slidebar {
    position: absolute;
    height: calc(100% - 8px);
    width: 130px;
    border-radius: calc(10px - 4px);
    background: #b8b8b8;
    transform-origin: 0 0 0;
    z-index: 0;
    transition: transform 0.5s cubic-bezier(0.33, 0.83, 0.99, 0.98);
}

/* Navigation Active State */
/* Navigation Active State */
.radio-1:checked ~ .bar,
.radio-1:checked ~ .slidebar {
    transform: translateX(-4%) scaleX(1);
}

.radio-2:checked ~ .bar,
.radio-2:checked ~ .slidebar {
    transform: translateX(87%) scaleX(1);
}

.radio-3:checked ~ .bar,
.radio-3:checked ~ .slidebar {
    transform: translateX(179%) scaleX(1);
}

.radio-4:checked ~ .bar,
.radio-4:checked ~ .slidebar {
    transform: translateX(253%) scaleX(1);
}

/* rahhhhh */
a {
    text-decoration: none;
    display: inline-block;
}

.stories-container {
    max-width: 650px;
    margin: 24px auto;
    position: relative;
    overflow: hidden; /* Hide horizontal scroll */
}

.stories-container .previous-btn,
.stories-container .next-btn,
.stories-full-view .previous-btn,
.stories-full-view .next-btn {
    width: 30px;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    background: #444;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    cursor: pointer;
}

.stories-container .previous-btn,
.stories-container .next-btn {
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
}

.stories-container .previous-btn.active,
.stories-container .next-btn.active {
    opacity: 1;
    pointer-events: auto;
}

.stories-container .previous-btn,
.stories-full-view .previous-btn {
    left: 8px;
}

.stories-container .next-btn,
.stories-full-view .next-btn {
    right: 8px;
}

.stories-container .story {
    height: 180px;
    width: 120px;
    flex-shrink: 0;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.stories-container .story img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stories-container .stories {
    display: flex;
    gap: 10px;
}

.stories-container .content {
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.stories-container .content::-webkit-scrollbar {
    display: none;
}

.stories-full-view {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    place-items: center;
}

.stories-full-view.active {
    display: grid;
}

.stories-full-view .content {
    height: 90vh;
    width: 100%;
    max-width: 700px;
    position: relative;
}

.stories-full-view .story {
    height: 100%;
    text-align: center;
}

.stories-full-view .story img {
    height: 100%;
    aspect-ratio: 9/16;
    object-fit: cover;
    border-radius: 16px;
}


